<html>
<head>
	<title> Beasiswa.com </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="daftar.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<link href="style2.css" rel="stylesheet">
	<script src="api/angular.min.js"></script>
	<script src="api/formhandling.js"></script>
</head>

<body>

	<div class="sidebar">
		<img src="logo.png">
		<table>
			<tr><td><div class="sidebar_menu"> <a href="index.html">Semua</a></div></td></tr>
			<tr><td><div class="sidebar_menu active"> Detil Beasiswa </div></td></tr>
			<tr><td><div class="sidebar_menu"> Login </div></td></tr>

		</table>
	</div>

	<div class="header_fixed">
		<div class="baseline_title_lv2 sticky"> 
			<h2> Pendaftaran Beasiswa  </h2> ABB Jurgen Dormann Foundation  
			<br>
			<table class="tabdaftar"">
			<tr>
				<td > <a href="daftar1.html"> Memulai </a> </td>
				<td > <a href="daftar2.html"> Formulir </a>  </td> 
				<td class="active"> <a href="daftar3.html">Dokumen</a>  </td>
				<td> <a href="daftar4.html">Selesai </a> </td>
			</tr>
			</table>
				<hr> 
				<hr class="nya_qa">
		</div>
	</div>


	<div class="wrapper-daftar">
		<h1>Persyaratan Khusus</h1>
		<h2>Lengkapi data dan unggah berkas pendaftaran</h2>
	
		<br>
		<div class="daftar_beasiswa">
			IPK (skala 4)<br>
			<input class="input_daftar" type="text" name="ipk" style="width:115px !important;"></input>
		</div>
		<div class="daftar_beasiswa">
			Prestasi<br>
			<div ng-app="app" ng-controller="MyCtrl">
				<div ng-repeat="name in data.names track by $index">
					<input class="input_daftar" type="text" ng-model="data.names[$index].name">
					<div class="btnform btnplus" ng-click="addRow($index)" value="Add" ng-show="$last"><a href="">.+.</a></div>
					<div class="btnform btnminus" ng-click="deleteRow($event,$index)" ng-show="$index != 0"><a href="">.--.</a></div>
					<!-- <input type="button" ng-click="addRow($index)" value="Add" ng-show="$last"> -->
					<!--<input type="button" ng-click="deleteRow($event,$index)" value="Delete" ng-show="$index != 0"> -->
				</div>
			</div>
		</div>
		<div class="daftar_beasiswa">
			KTM<br>
			<label for="file1" class="uploadbutton" > Browse </label>
			<input id="file1" type="file" class="uploadbutton" style="visibility:hidden;"></input>
		</div>
		<div class="daftar_beasiswa">
			Transkrip Akademik<br>
			<label for="file1" class="uploadbutton"> Browse </label>
			<input id="file1" type="file" class="uploadbutton" style="visibility:hidden;"></input>
		</div>
		<div class="daftar_beasiswa">
			Surat Rekomendasi <br>
			<label for="file1" class="uploadbutton"> Browse </label>
			<input id="file1" type="file" class="uploadbutton" style="visibility:hidden;"></input>
		</div>
		
		<a href="daftar1.html"> <div class="btn btnkiri"> Kembali </div> </a>
		<a href="daftar4.html"> <div class="btn btnkanan"> Lanjutkan </div> </a>				
		<br>
		<br>
	</div>

	</div>



</body>



</html>