.notifikasi {
	font-size: 21px;
  padding: 10px;
  width: 73%;
  border:  1px solid #cacaca;
  margin-top: -1px;
}

.notifikasi:hover {
  background-color: #eee;
  cursor:pointer;
}

.notifikasi:hover .dbutton{
  color:white;
  background-color: rgb(51, 128,1);
}

.notifikasi-mini {
	font-size: 10px;
  padding: 10px;
  width: 95%;
  border:  1px solid #cacaca;
  margin-top: -1px;
}

.notifikasi-mini:hover {
  background-color: #eee;
  cursor:pointer;
}

.notifikasi-mini:hover .dbutton{
  color:white;
  background-color: rgb(51, 128,1);
}

.wrapper-notifikasi {
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 150px;
  margin-left: 19%;
  font-size: 37px;
  width: 100%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-notifikasi {
    position: relative;
    display: inline-block;
}

.dropdown-notifikasi-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-notifikasi-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-notifikasi-content a:hover {background-color: #f1f1f1}

.dropdown-notifikasi:hover .dropdown-notifikasi-content {
    display: block;
}

.dropdown-notifikasi:hover .dropbtn {
    background-color: #3e8e41;
}



#note {
		position: absolute;
		z-index: 6001;
		top: 0;
		left: 0;
		right: 0;
		background: #fde073;
		text-align: center;
		line-height: 2.5;
		overflow: hidden;
		-webkit-box-shadow: 0 0 5px black;
		-moz-box-shadow:    0 0 5px black;
		box-shadow:         0 0 5px black;
}
.cssanimations.csstransforms #note {
		-webkit-transform: translateY(-50px);
		-webkit-animation: slideDown 7.5s 5.0s 1 ease forwards;
		-moz-transform:    translateY(-50px);
		-moz-animation:    slideDown 7.5s 5.0s 1 ease forwards;
}

#close {
	position: absolute;
	right: 10px;
	top: 9px;
	text-indent: -9999px;
	background: url(images/close.png);
	height: 16px;
	width: 16px;
	cursor: pointer;
}
.cssanimations.csstransforms #close {
	display: none;
}

@-webkit-keyframes slideDown {
		0%, 100% { -webkit-transform: translateY(-50px); }
		10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
		0%, 100% { -moz-transform: translateY(-50px); }
		10%, 90% { -moz-transform: translateY(0px); }
}
